* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    #form_container {
        max-width: 90%;
        padding: 10px;
    }
}

#component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

#form_container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#myForm {
    display: flex;
    flex-direction: column;
}

#myForm input,
#myForm button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#myForm button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#myForm button:hover {
    background-color: #0056b3;
}
